*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
iframe{
    margin:8px;
}
button{
    background-color: black;
    color:cornsilk;
    border-radius: 8px;
    border:2px solid grey;
    transition-duration: 0.4s;
    width: 10%;
    
}

button:hover{
    background-color: rgb(77, 26, 26);
}

h1{
    margin-left: 5em;
    color: blueviolet;
    letter-spacing: 9px;
    
}