#myMedia{
    height: 400px;
    width: 600px;
   margin-left: 16em;
}

h{
font-size: large;
letter-spacing: 8px;  
color: antiquewhite;
background-color: rgba(28, 31, 32, 0.877);  
padding: 8px;
border:6px black;
margin-top: 8px;

}

img{
    margin-top: 3em;
}